{% extends 'rv/base.html' %}

{% block container %}


<div  class="container   d-flex justify-content-center ">
  <form class="w-100 " method="POST" enctype="multipart/form-data" data-ajax="false">
      {% csrf_token %}
        <div class="  row my-5 text-info">
          {% load widget_tweaks %} 
          {% for field in form %}
              <div>
                {{field.errors}}
                  {{ field.label_tag }} 
                  {% render_field field class="form-control" %} 
                  {% if field.help_text %}
                      <small class="form-text text-muted">
                         {{ field.help_text }}
                      </small>
                  {% endif %}
                  {% endfor %}
                  
                  
                </div>
                <input class=" btn btn-outline-info mt-3 text-center   " style="width:100%" type="submit" value="modifier">

      
       
    </form> 
</div>

    
{% endblock container %}
    