{% extends 'pages/base.html' %}

{% block container %}


<div class=" container d-flex justify-content-center text-info bg-light my-5 ">

      <form class="w-75 " method="POST" enctype="multipart/form-data" data-ajax="false">
          {% csrf_token %}
           
              {% load widget_tweaks %} 
              {% for field in form %}
                  <div class=" row form-group  " style="font-size: 80%;">
                    {{field.errors}}
                      {{ field.label_tag }} 
                      {% render_field field class="form-control" %} 
                      {% if field.help_text %}
                          <small class="form-text text-muted">
                             {{ field.help_text }}
                          </small>
                      {% endif %}
                  </div>
              {% endfor %}
              {% for field in doctor %}
                  <div class=" row form-group" style="font-size: 80%;">
                    {{field.errors}}
                      {{ field.label_tag }} 
                      {% render_field field class="form-control" %} 
                      {% if field.help_text %}
                          <small class="form-text text-muted">
                             {{ field.help_text }}
                          </small>
                      {% endif %}
                    </div>
                    {% endfor %}
                    <input class="btn btn-outline-info mt-2" style="width: 100%;" type="submit" value="creer">
              
          
           
        </form> 
     
    
    </div>

    
{% endblock container %}
    