{% extends 'pages/base.html' %}

{% block container %}


<div class="col d-flex justify-content-center">
        <form method="POST" enctype="multipart/form-data" data-ajax="false">
            {% csrf_token %}
              <div class="    container text-info bg-light">
                {% load widget_tweaks %} 

                <div class="form-group">
                    {{form.media}}
                    <p> {{form.profil.label}}</p>
                    {% if user.profil %}
                    <img src="{{ user.profil.url }}" />
                    {% endif %}
                    {{form.profil}}
                    <p> {{form.first_name.label}}</p>
                    {{form.first_name}}
                    <p> {{form.last_name.label}}</p>
                    {{form.last_name}}
                    <p> {{form.address.label}}</p>
                    {{form.address}}
                    <p> {{form.phone.label}}</p>
                    {{form.phone}}
                    <p> {{form.password.label}}</p>
                    {{form.password}}
                    <p> {{form.password1.label}}</p>
                    {{form.password1}}
                    <p> {{form.password2.label}}</p>
                    {{form.password2}}
                   </div> 

                {% comment %} {% for field in form %}
                    <div class="form-group">
                      {{field.errors}}
                        {{ field.label_tag }} 
                        {% render_field field class="form-control" %} 
                        {% if field.help_text %}
                            <small class="form-text text-muted">
                               {{ field.help_text }}
                            </small>
                        {% endif %}
                    </div>
                {% endfor %} {% endcomment %}
             
            
              <input class="btn btn-outline-info mt-2" type="submit" value="modifier">
            
             
          </form> 
    </div>

    
{% endblock container %}
    